<!-- login.html -->
<div class="login-page">
  <div class="left-side">
    <img class="bg-image" src="assets/Images/loginBackground.svg" alt="Login background" onerror="this.onerror=null; this.src='assets/images/fallback-bg.svg'">
    <div class="logo-container">
      <div class="lims-logo">
        <img src="assets/Images/Frame 1000002009.svg" alt="">
      </div>
    </div>
  </div>

  <div class="blue-divider"></div>

  <div class="right-side">
    <div class="login-container">
      <div class="login-header">
        <div class="login-icon"></div>
        <h1 class="login-title">Log In</h1>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Email -->
        <div class="form-group">
          <label for="email">Email</label>
          <div class="input-container">
            <input
              type="email"
              id="email"
              formControlName="email"
              placeholder="email@domain.com"
              [class.invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
            >
          </div>
          <div class="validation-error" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
            <span *ngIf="loginForm.get('email')?.errors?.['required']"> Email required </span>
            <span *ngIf="loginForm.get('email')?.errors?.['email']">Please enter valid email </span>
          </div>
        </div>

        <!-- Password -->
        <div class="form-group">
          <label for="password">Password</label>
          <div class="input-container">
            <input
              [type]="showPassword ? 'text' : 'password'"
              id="password"
              formControlName="password"
              placeholder="***********"
              [class.invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
            >
            <div class="eye-icon" (click)="togglePasswordVisibility()">

            </div>
          </div>
          <div class="validation-error" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
            <span *ngIf="loginForm.get('password')?.errors?.['required']">Password required  </span>
            <span *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be 8 charecters </span>
          </div>
        </div>

        <a routerLink="/forget-password" class="forgot-password">Forget Password?</a>

        <button type="submit" class="login-button" [disabled]="isSubmitting">
          {{ isSubmitting ? 'Logging in...' : 'Login' }}
        </button>
        <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>

        <a routerLink="register" class="register-link">Don't have an account? Register</a>
      </form>
    </div>
  </div>
</div>
