<div class="sidebar" style="padding: 5px;">
  <div>
    <div class="logo" style="display: flex; justify-content: center;">
      <img src="assets/Icons/Frame 1000002009.svg" alt="">
    </div>

    <nav>
      <!-- Samples -->
      <a routerLink="samples" routerLinkActive="active">
        <img src="assets/Icons/drop.svg" alt=""> Samples
      </a>

      <!-- Staff -->
      <a routerLink="staff" routerLinkActive="active">
        <img src="assets/Icons/profile-2user (2).svg" alt=""> Staff
      </a>

    <a routerLink="test-section" routerLinkActive="active">
  <img src="assets/Icons/share.svg" alt=""> Tests
</a>

    <a routerLink="my-test" routerLinkActive="active">
  <img src="assets/Icons/share.svg" alt=""> My Test
</a>

      <!-- Reports dropdown -->
      <div class="dropdown">
        <a class="dropdown-header" (click)="toggleReports()" [class.active]="reportsOpen">
          <img src="assets/Icons/note-2.svg" alt="">
          <span>Reports</span>
          <img *ngIf="!reportsOpen" src="assets/Icons/arrow-down.svg" class="arrow">
          <img *ngIf="reportsOpen"  src="assets/Icons/arrow-up.svg"   class="arrow">
        </a>

        <div class="dropdown-items" *ngIf="reportsOpen">
          <a routerLink="user-activity" routerLinkActive="active">
            <img src="assets/Icons/user-tick.svg" alt=""> User Activity
          </a>
          <a routerLink="sample-reports" routerLinkActive="active">
            <img src="assets/Icons/element-1.svg" alt=""> Sample Reports
          </a>
          <a routerLink="test-reports" routerLinkActive="active">
            <img src="assets/Icons/share.svg" alt=""> Test Reports
          </a>
        </div>
      </div>

      <!-- Configurations dropdown -->
      <div class="dropdown">
        <a class="dropdown-header" (click)="toggleConfig()" [class.active]="configOpen">
          <img src="assets/Icons/setting-3.svg" alt="">
          <span>Configurations</span>
          <img *ngIf="!configOpen" src="assets/Icons/arrow-down.svg" class="arrow">
          <img *ngIf="configOpen"  src="assets/Icons/arrow-up.svg"   class="arrow">
        </a>

        <div class="dropdown-items" *ngIf="configOpen">

          <a routerLink="coordinat" routerLinkActive="active">
<img src="assets/Icons/element-1.svg" alt=""> Coordinates 
</a>


     <a routerLink="group-list" routerLinkActive="active">
<img src="assets/Icons/element-1.svg" alt=""> Group 
</a>

<a routerLink="templates" routerLinkActive="active">
            <img src="assets/Icons/element-1.svg" alt=""> Templates
          </a>

          <a routerLink="tests" routerLinkActive="active">
            <img src="assets/Icons/share.svg" alt=""> Tests
          </a>

          <a routerLink="roles" routerLinkActive="active">
            <img src="assets/Icons/security-user.svg" alt=""> Role
          </a>

          <a routerLink="location" routerLinkActive="active">
            <img src="assets/Icons/location.svg" alt=""> Location
          </a>
        </div>
      </div>
    </nav>
  </div>

  <div class="sidebar-footer">
    <p>Welcome Back, {{ userName }}</p>
    <a class="logout" (click)="logout()">
      <img src="assets/Icons/Group 34160.svg" alt=""> Log Out
    </a>
  </div>
</div>
